@import '../../vars.css';
.container{
    position: relative;
    top: 150px;
    background-color: rgba(41, 48, 50, 0.6);
    border-radius: 25px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    width: 70vw;
    font-family: var(--font-roboto);
    
    
}
.title{
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--font-roboto );
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 33px;
    margin-bottom: 33px;

}
.content{
    margin-left: 5% ;
    margin-right: 5%;
}
h3{
    text-align: right;
}

@media screen and (max-width:786px) {
    .title{
        text-align: left;
        font-size: 28px;
        
    }
}