@import "../../vars.css";
.container{
    position: relative;
    top: 150px;
    background-color: rgb(12, 12, 12,0.6);
    border-radius: 25px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    width: 70vw;
    font-family: var(--font-roboto);
}

.title{
    font-size: 50px;
    font-weight: 900;
    margin-top: 33px;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content{
    display: flex;
   flex-wrap: wrap;
    

    gap: 50px;
}
.skill{
    align-items: center;
    
}
.skillImageContainer{
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: var(--color-secondary);
    width: 120px;
    height: 120px;

    
    /* background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s; */
  text-overflow: none;
}
.skillImageContainer img{
    width: 75px;
}
/* .skillImageContainer:hover {
    background-size: 100% 100%;
  } */

.content p{
    font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
  text-align: center;
}
 @media screen and (max-width:786px) {
    .container{
        background-color: transparent;
        margin-left: 0;
        margin-right: 0;
    }
    .skillImageContainer{
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        height: 100px;
    }
    .skillImageContainer img{
        width: 50px;
    }
    
 }